$feature-color:#5b91a6;
$feature-color-darker:#38667a;
$primary-color: rgb(79, 84, 95);
$secondary-color: #fff;
$footer-text-color: rgb(122, 130, 143);
$header-color: rgba(64, 68, 78, 0.75);
$section-color: rgb(230, 230, 230);

@font-face{
	src: url(../fonts/Segoe\UI.ttf);
	font-family: Segoe UI;
}

@font-face{
	src: url(../fonts/Helvetica-Bold.ttf);
	font-family: Helvetica-Bold;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	padding-left: 15px;
	padding-right: 15px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section-header { 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pseudo::after {
	content: "";
	margin: 0;
	display: block;
	width: 40px;
	height: 2px;
	background-color: $primary-color;
	margin: 5px 0px 0px 0px;
}

h1{
    color: $secondary-color;
	font-size: 8rem;
	font-family: "Helvetica-Bold", "Arial", sans-serif;
	font-weight: bold;
	padding: 18px 36px;
}

h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", "Arial", sans-serif;
	font-weight: normal;
}

h2 {
	text-transform: uppercase;
	font-size: 1.685rem;
	letter-spacing: 0.025em;
}
h3 {
	font-size: 1.25rem;
	letter-spacing: 0.05em;
	font-weight: bold;
	text-transform: uppercase;
}
h4 {
	font-size: 0.875rem;
	color: $feature-color;
}
h5 {
	margin: 0;
	font-size: 0.785rem;
	line-height: 1.1;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
h6 {
	margin: 0;
	font-size: 0.675rem;
	letter-spacing: 0.1em;
}

// HEADER ---------------------------------------------------

header {
	margin: 0;
	background: $header-color;
	width: 100vw;
	position: absolute;
	right: 0;	
}
#logo{
	padding-left: 15px;
}
nav{
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-nav{
	width: 45%;
}
.nav-links{
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding-inline-start: 0px;
	
	li{
		list-style: none;
	}
	a {
		display: inline-block;
		font-family: "Segoe UI", "Arial", sans-serif;;
		font-size: 0.785rem;
		letter-spacing: 0.08em;
		font-weight: normal;
		text-transform: uppercase;
		padding: 5px 10px;
		border: 1.5px solid transparent;
		color: $secondary-color;
		text-decoration: none;
		&:hover {
			color: $feature-color;
			border-color: $feature-color;
			transition: .4s; 
		}
	}
}

// --------------------- Burger Menu -----------------------

.burger{
	display: none;
	cursor: pointer;
}
.burger .lines{
    width: 25px;
    height: 2px;
    background-color: $secondary-color;
    margin: 5px;
    transition: all 0.5s ease;
}
.transform .line1{
	transform: rotate(-45deg) translate(-5px, 5px);
	background-color: $feature-color;
}
.transform .line2{
	opacity: 0;
}
.transform .line3{
	transform: rotate(45deg) translate(-5px, -5px);
	background-color: $feature-color;
}


// HERO ---------------------------------------------------

.hero {
	margin: 0;
	display: flex;         
	align-items: center; 
	min-height: 100vh;
	// background-image: url(../images/main.jpg);
	background-size: cover;
	background-position: center;
}


// SERVICES ---------------------------------------------------

.services {
	background: $section-color;
	color: $feature-color-darker;
	padding-top: 45px;
	padding-bottom: 45px;
	.pseudo::after {
		background-color: $feature-color-darker;
	}
	.flex-container{
		padding-top: 30px;
	}
}
.column {
	width: calc(25% - 20px);
	text-align: center;	
	display: flex;
	flex-direction: column;
	i{
		margin-top: 30px;
	}
	p{
		align-self: center;
	}
}

.animated:hover {
	-webkit-animation: shake .1s ease-in-out .1s infinite alternate;
}

@-webkit-keyframes shake{
	from{
		-webkit-transform: rotate(3deg);
	}
	to{
		-webkit-transform: rotate(-3deg);
		-webkit-transform-orgin: center
		center;
	}
}

// PORTFOLIO ---------------------------------------------------

.portfolio {
	background: $secondary-color;
	color: $primary-color;
	padding-top: 45px;
	padding-bottom: 55px;

	.flex-container {
		margin-top: 30px;
		justify-content: flex-start;
	}
	.pseudo::after {
		background-color: $primary-color;
	}	
}
.hide{
	display: none;
}
.gallery-filters{

	button{
		outline: none;
		text-rendering: unset;
		margin: 0px 2px;
		border-style: none;
		background: none;
		text-transform: uppercase;
		font-family: "Segoe UI", "Arial", sans-serif;;
		font-size: 0.785rem;
		padding: 4.5px 18px 4.5px 18px;
		cursor: pointer;
		border: 1.5px solid transparent;
		&:hover {
			color: $feature-color;
			border-color: $feature-color;
			transition: .4s; 
		}
	}
	button:active{
	outline: none;
	text-rendering: unset;
	margin: 0px 2px;
	border-style: none;
    background: none;
	text-transform: uppercase;
	font-family: "Segoe UI", "Arial", sans-serif;;
	font-size: 0.785rem;
	padding: 4.5px 18px 4.5px 18px;
	cursor: pointer;
	color: $feature-color;
	border: 1.5px solid $feature-color;	
	}
	.active-filter{	
		color:  $feature-color;	
	}
}
.gallery-filters > ul { 
	display: flex;
	justify-content: flex-end;
	li {
		display: inline-block;
	}
}
.img-block {
	width: calc(25% - 10px);
	margin: 5px;
	img {
		display: block;
		width: 100%;	
		box-shadow: 0px 0px 15px #aaa;
		&:hover {
			filter: opacity(.5);
			transition: 0.2s;
		}
	}
}

// ABOUT -------------------------------------------------------

.about {
	// background-image: url(../images/about.jpg);
	background-position: center;
	background-size: cover;
	color: $primary-color;
	padding-top: 50px;
	padding-bottom: 50px;
	.pseudo::after {
		background-color: $primary-color;	
	}
	.flex-container{
		padding-top: 30px;
	}
}
.pseudo {
	margin: 0;
}
.social-column { 
	margin: 0;
	width: calc(50% - 20px);
	padding: 0;
	a {
		text-decoration: none;
	}
	i{
		margin: 15px 10px;
		padding: 10px 11px 10px;
		color: $primary-color;
		border: 1.5px solid $primary-color;
		&:hover {
			color: $secondary-color;
			border-color: transparent;
			background-color: $primary-color;
			transition: .3s;
		}
	}
}

// TESTIMONIALS ---------------------------------------------------

.testimonials {
	margin: 0;
	background: $secondary-color;
	color: $primary-color;
	padding-top: 45px;
	padding-bottom: 45px;
	.pseudo::after {
		background-color: $primary-color;
	}
}
.slider {
	margin: 0;;
	padding-top: 35px;
}
.recommendation {	
	font-family: "Segoe UI", "Arial", sans-serif;;
	width: 100%;
	height: 100%;
	text-align: left;
	p {
		margin: 0;
		font-size: 1.2rem;
		line-height: 2.815rem;
	}	
}

.owl-dot span{
	background-color: #ddd !important;
}
.owl-dot.active span{
	background-color: $feature-color !important;
}

// CONTACT ---------------------------------------------------

.contact {
	margin: 0 auto;
	// background-image: url(../images/conta.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: $secondary-color;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 0.785rem;
	font-family: "Segoe UI", "Arial", sans-serif;;	
	.pseudo::after {
		background-color: $secondary-color;
	}
}
.contact-form{
	padding-top: 30px;
	width: 100%;	
}
.cf-column{
	width: 50%;
	.input {
		min-width: calc(100% - 30px);
		background: transparent;	
	}
}
.contact-info { 
	margin: 0;
	line-height: 1.35rem;
	padding-top: 35px;
	padding-bottom: 30px;
	p {
		margin: 0;
		margin-bottom: 15px;
	}
}
.cf-element{ 
	padding-top: 15px;
	padding-bottom: 15px;
	h5{
		padding-bottom: 10px;
	}
}
.form-control {	
	border: 1.5px solid $secondary-color;
	color: $secondary-color;
	padding: 10px;
	font-size: 0.785rem;
	line-height: 1.35rem;	
}
.message {	
	width: 100%;
	font-size: 0.785rem;
	line-height: 1.35rem;
	font-family: "Segoe UI", "Arial", sans-serif;
	background: transparent;
}
.submit {
	margin: 0 auto;
	width: calc(50% - 30px);
	background-color: $feature-color;
	color: $secondary-color;
	font-size: 0.785rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	font-family: "Segoe UI", "Arial", sans-serif;
	text-transform: uppercase;
	border: none;
	&:hover {
		background-color: $primary-color;
		transition: .2s; 
	}
}

// FOOTER ---------------------------------------------------

footer {
	margin: 0;
	background: $primary-color;	
}
.bottom-nav{
	display: flex;
	justify-content: space-between;
	margin: 0;
}			
.copyright{
	color: $footer-text-color;		
}
.btm-nav-links {
	width: 30%;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0px;
	li{
		list-style: none;
	}	
	a {	
		font-weight: bold;
		font-family: "Segoe UI", "Arial", sans-serif;;
		font-size: 0.675rem;
		text-transform: uppercase;
		border: none;				
		display: inline-block;
		letter-spacing: 0.08em;
		padding: 5px;
		color: $footer-text-color;
		text-decoration: none;
		&:hover {
			border: none;
			color: $secondary-color;
			transition: .4s; 
		}
	}	
}	

// DEVICE ADAPTATION -----------------------------------------------------------------

@media screen and (max-width:900px){

	h1{
		font-size: 6rem;
		padding: 0px;
	}
    .top-nav{
        width: 60%;
    }
    .nav-links{
        justify-content: space-between;
    }
    .container {
		flex-wrap: wrap;
    }   
    .column {
		width: calc(50% - 10px);
    }
    .img-block {
		width: calc(33.33% - 10px);
	}
	.contact{
		min-height: 0px;
	}
}

@media screen and (max-width:600px){
    
    // ---------- Main -----------------

	body {
		overflow-x: hidden;
	}
	h1{
		font-size: 4rem;
		margin: 65px 0px;
		padding: 0px;
	}
	h2{
		font-size: 1.2rem;
    }
    .section-header{
		display: flex;
		justify-content: center;
	}
	.pseudo::after {
		width: 100%;
	}

    // ---------- Navigation -----------------

    .top-nav{
		width: auto;
		overflow: hidden;	
	}
	.nav-links{	
		position: absolute;
		right: 0px;
		top: 77px;	
		background-color: $header-color;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100vw;
		transform: translateY(-200%);
		transition: transform 0.3s ease-in;
		li{
			width: 100%;
			text-align: center;		
		}
		a{	
			display: block;
			padding: 30px 0px;
			border: none;									
			&:hover{			
				color: $secondary-color;
				background-color: $feature-color;			
			}
		}	
    }
	.burger{
		display: block;
    }
	.nav-active{
		transform: translateY(0%);
	}
	.bottom-nav{
        flex-direction: column;
        
		.btm-nav-links{
			width: 80%;
			justify-content: space-around;		
		}
		.lines{
			width: 80%;
			height: 1px;
			background-color: $footer-text-color;
			margin: 20px;
		}
    }

	// ------------- Hero --------------------

	.hero {
		flex-direction: column;      
		justify-content: flex-end;
		align-items: center;
		}

    // ---------- Services -----------------

    .column {
		width: 100%;
		p{
			width: 50%;
		}
	}

    // ---------- Portfolio -----------------

    .portfolio{
		.section-header{
            display: flex;
            flex-direction: column;
		}
	}
    .img-block {
		width: calc(50% - 10px);
	}

    // ---------- About -----------------
    
    .social-column { 
		width: 100%;
		text-align: center;

		i{
			margin-top: 30px;
		}
    }
    
    // ---------- Testimonial -----------------

    .recommendation{
		display: flex;
		flex-direction: column;
		align-items: center;
		p{
			text-align: center;
		}
	}


    // ---------- Contact -----------------
	.contact-info { 
		padding-top: 15px;
		padding-bottom: 15px;
	}
    .cf-column{
		width: 100%;
		.input {
			min-width: 100%;
		}
	}
	.submit {
		width: 100%;
	}
}


